<% include ./common/header %>
<div class="container">

    <form class="form-signin" name="userRegForm" id="userRegForm" >
        <h2 class="form-signin-heading">注册</h2>
        <label for="inputName">请输入用户名</label>
        <input type="text" name="userName" class="form-control" placeholder="请输入用户名" required autofocus>
        <label for="inputPassword">请输入密码</label>
        <input type="password" name="pwd" class="form-control" placeholder="请输入密码" required>
        <label for="inputPassword2">请再次输入密码</label>
        <input type="password" name="pwd2" class="form-control" placeholder="请再次输入密码" required>
				<input type="number" placeholder="请输入手机号码" id="phoneNum" /> <button id="sendMsgBtn">发送</button>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="regBtn">注册</button>
				<p>已有账号?<a href="/login">马上登录</a></p>
    </form>

</div> <!-- /container -->

<% include ./common/footer %>
